name: Build and Push Docker Image

on:
  workflow_dispatch:

env:
  REGISTRY: asia-east1-docker.pkg.dev
  REPOSITORY: marykuo-cloud-playground/docker-repository
  IMAGE_NAME: drlifesucks-backend
  DOCKERFILE_PATH: ./Dockerfile

jobs:
  get-docker-image-tag:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.output_variables.outputs.image-tag }}
      image-name: ${{ steps.output_variables.outputs.image-name }}
    steps:
      - name: Get Docker Image Tag
        id: get-docker-image-tag
        uses: marykuo/get-docker-image-tag@v1
        with:
          length: 10

      - name: Echo Docker Image Tag
        id: output_variables
        run: |
          echo "image-tag=${{ steps.get-docker-image-tag.outputs.image-tag }}" >> $GITHUB_OUTPUT
          echo "image-name=${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ steps.get-docker-image-tag.outputs.image-tag }}" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: [get-docker-image-tag]
    steps:
      - name: Show Docker Image Info
        run: |
          echo ${{ needs.get-docker-image-tag.outputs.image-tag }}
          echo ${{ needs.get-docker-image-tag.outputs.image-name }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Auth
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build And Push Docker image to Artifact Registry
        shell: bash
        run: |
          docker build -t ${{ needs.get-docker-image-tag.outputs.image-name }} -f ${{ env.DOCKERFILE_PATH }} .
          docker push ${{ needs.get-docker-image-tag.outputs.image-name }}
